
html {
    background-color: whitesmoke;

}

body {
    font-family: 'East Sea Dokdo', cursive;
}

.position {

    margin-bottom: 30px;
    margin-top: 40px;

    margin-left: auto;
    margin-right: auto;
}


.card {
    height: 100%;
}

.is-1 {
    font-size: 100px !important;
}

.is-3 {
    font-size: 45px !important;
}


.content {
    text-align: justify;
    font-size: 25px;
}

footer {
    font-size: 15px;
}


.tag {
    font-size: 20px !important;
}
