body{
    height: 100vh;
    background: url(./images/sushi_pattern.jpg) no-repeat fixed;
    background: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jour{
    color: black;
    font-weight: bolder;
}

#titre{
    color: black;
    font-weight: bold;
}
