body{
    height: 100vh;
    background: url(./images/sushi_pattern.jpg) no-repeat fixed;
    background: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jour{
    color: black;
    font-weight: bolder;
    border-left: black dashed 2px;
    padding-left: 10px;
}

#titre{
    color: black;
    font-weight: bold;
    border-bottom: dashed black 2px;
    padding-bottom: 2px;
}

@media screen and (max-width: 768px) {

    body{
        height: auto;
        background: url(./images/sushi_pattern.jpg) no-repeat;
        background: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #titre {
        color: black;
        font-weight: bold;
    }

    .jour{
        color: black;
        font-weight: bolder;
        border-left: 0px;
        padding-left: 0px;
    }



}